<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <h4>Celebrities</h4>
    <a href="/celebrities/create">Create new celebrity</a>
    <a href="/celebrities">List all celebrities</a>
</div>
<br>
<div>
    <h4>Movies</h4>
    <a href="/movies/create">Create new movie</a>
    <a href="/movies">List all movies</a>
</div>
